@import "tailwindcss";

@font-face {
  font-family: "Averta Demo PE";
  src: url("/public/fonts/AvertaDemoPE-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Averta Demo PE";
  src: url("/public/fonts/AvertaDemoPE-ExtraboldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

:root {
  --background: #ffffff;
  --foreground: #000000; /* Set text color to black */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed; /* Dark background */
    --foreground: #000000; /* Keep text black */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Averta Demo PE, Arial", Helvetica, sans-serif;
}
